#mapid{
    width: 100vw;
    height: 100vh;
}
h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    height: 300px;
    width: 300px;
    text-align: center;
}
img{
    max-width: 100%;
}

